<%= form_for(@explanation) do |f| %>
  <% if @explanation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@explanation.errors.count, "error") %> prohibited this explanation from being saved:</h2>

      <ul>
      <% @explanation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :statement_id %><br>
    <%= f.text_field :statement_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
