<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @explanation.content %>
</p>

<p>
  <strong>Statement:</strong>
  <%= @explanation.statement %>
</p>

<%= link_to 'Edit', edit_explanation_path(@explanation) %> |
<%= link_to 'Back', explanations_path %>
